<%= form_with(model: frame, local: true, url: game_frames_path) do |form| %>
  <% if frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frame.errors.count, "error") %> prohibited this frame from being saved:</h2>

      <ul>
      <% frame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr>

  <div class="field">
    <%= form.label :user_id %>                   
    <%= form.collection_select :user_id, get_player,:id,:name, include_blank: false, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :try1 %>
    <%= form.number_field :try1, id: :frame_try1, required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :try2 %>
    <%= form.number_field :try2, id: :frame_try2, required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :turn_number %>
    <%= form.number_field :turn_number, id: :frame_turn_number, required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :game_id, id: :frame_game_id, value: params[:game_id] %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
